<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link rel="shortcun icon" href="#" />
</head>

<style>
    body{
        font-family: Helvetica, sans-serif;
        background-color: lavender;
        color: black;
        font-size: medium;
    }

    h1{
        font-weight: bold;
        font-size: xx-large;
        font-family: Cambria, Helvetica, sans-serif;
    }


    h3{
        display: inline;
        font-weight: bold;
    }

    p{
        font-style: italic;
        font-size: small;
    }

    .main{
        margin: auto;
        width: 50%;
    }

    .nav {
        position: fixed;
        top: 0px;
        width: 100%;
    }

    li {
        padding: 2em;
    }
</style>

<body>
    <div class="nav">
    <a href="/allergies" style="
    float: left;
    margin-right: 5em;
    margin-top: 1em;
">Home</a>
</div>
</div>

    <div class="main">
        <h1> {{ name }} </h1>

        <ul style="list-style-type:none;">
        {% for item, severity in menu %}
            {% if severity == 0 %}
                <li>
            {% elif severity == 1 %}
                <li style= "background-color:lightgoldenrodyellow">
            {% elif severity == 2 %}
                <li style= "background-color:lightorange">
            {% else %}
                <li style="background-color:lightpink">
            {% endif %}
                <h3> {{ item.name }} </h3> | {{ item.price}}
                <p> {{ item.description }} </p>
            </li>

            <br>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
